body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

header {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.title-image {
    width: 80%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: row; /* Asegura que los contenedores se dispongan en forma horizontal */
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    
}

.game-section {
    width: 200px;
    height: 200px;
    padding: 10px 10px 20px;
    margin: 40px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.game-section img {
    width: 71%;
    height: 71%;
    object-fit: cover;
    border-radius: 20px;
}

.game-section h2, .game-section p {
    color: red;
    margin: 0;
}

.game-section h2 {
    margin: 10px 0;
    font-size: 15px;
}

.game-section p {
    padding: 5px 0;
    font-size: 20px;
}

.play-button {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 40px;
    background-color: #333;
    color: #fff;
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 20px;
    transition: background-color 0.3s ease;
    height: 30px;
    min-width: 55px;
    line-height: 30px;
    text-align: center;

.play-button:hover {
    background-color: blue;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .game-section {
        width: 120px;
        height: 120px;
    }

    .play-button {
        font-size: 12px;
    }
}
