/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evitar desplazamiento */
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    width: 100vw; /* Asegura que el cuerpo ocupe toda la anchura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Evita el desplazamiento en el contenedor del juego */
}

/* Estilo para el contenido en orientación horizontal */
.landscape-only {
    display: block; /* Asegura que el contenido se muestre en cualquier orientación */
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column; /* Coloca el contenido en una columna */
    max-width: 100vw; /* Asegura que el contenido no exceda el ancho de la vista */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto total */
}

.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajusta el número de columnas según el ancho disponible */
    gap: 10px;
    margin-top: 20px;
    justify-content: center; /* Centra las cartas en la vista */
}

.card {
    width: 100%;
    height: 150px; /* Altura de cada carta */
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
}

.card.flip {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain; /* Ajustar la imagen manteniendo la relación de aspecto */
}

.card .front-face, .card .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .back-face {
    transform: rotateY(180deg);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo específico para orientación horizontal */
@media (orientation: landscape) {
    .landscape-only {
        display: block; /* Muestra el contenido en orientación horizontal */
        /* Ajustar el diseño para la orientación horizontal */
        height: 100vh; /* Asegura que el contenido ocupe toda la altura de la ventana */
    }

    /* Opcional: Ajustar el diseño para mejorar la experiencia en orientación horizontal */
    main {
        max-height: 100vh; /* Asegura que el contenido no exceda la altura de la vista */
        display: flex;
        flex-direction: row; /* Coloca el contenido en una fila en lugar de columna */
    }
}
