body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('imagenes/fonhd2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    h
}

header {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.title-image {
    width: 80%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: row; /* Alinea los contenedores horizontalmente */
    flex-wrap: wrap; /* Permite que los contenedores se envuelvan a una nueva fila si es necesario */
    justify-content: center; /* Centra los contenedores horizontalmente */
    padding-top:15px; 
    margin: 20px;
    width: calc(100% - 40px); /* Ajusta el ancho para evitar desbordamientos */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

.game-section {
    width: 150px; /* Ancho del contenedor */
    height: 150px; /* Altura del contenedor para hacerlo cuadrado */
    padding: 5px 5px 10px; /* Espacio interior del contenedor */
    margin: 50px; /* Espacio entre los contenedores */
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

.game-section img {
    width: 80%;
    height: 71%; /* Ajusta la altura de la imagen para llenar el contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
    border-radius: 30px;
}

.game-section h2 {
    color: #333; /* Color del texto del título */
    margin: 10px 0; /* Espacio arriba y abajo del título */
    font-size: 14px; /* Tamaño de la fuente ajustable */
    padding: 0; /* Sin relleno adicional */
}

.game-section p {
    color: #333; /* Color del texto del párrafo */
    margin: 0; /* Elimina el margen por defecto */
    padding: 5px 0; /* Espacio vertical alrededor del texto */
    font-size: 14px; /* Tamaño de la fuente ajustable */
}

.play-button {
    position: absolute;
    bottom: -33px; /* Ajusta este valor para mover el botón hacia arriba o abajo */
    left: 50%;
    transform: translateX(-50%);
    padding: 1px 40px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    height: 25px; /* Ajusta la altura del botón según sea necesario */
    min-width: 45px; /* Establece un ancho mínimo para asegurar que el texto quepa */
    text-align: center; /* Asegura que el texto dentro del botón esté centrado */
    line-height: 30px; /* Establece el line-height igual a la altura del botón para centrar el texto verticalmente */
}

.play-button:hover {
    background-color: blue;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .game-section {
        width: 120px; /* Ajusta el ancho en pantallas pequeñas */
        height: 120px; /* Ajusta la altura en pantallas pequeñas */
        margin: 20px; /* Ajusta el margen para pantallas más pequeñas */
    }

    .play-button {
        font-size: 12px; /* Tamaño de fuente ajustable */
    }
}
